<%- include('./../_partials/header') %>

    <% if (user.events.length) { %>
        <div class="container">
            <div class="blur-one">
                <div class="welcome">
                    <h5>Create Event &nbsp;&nbsp;
                    <a class="waves-effect waves-light btn-floating btn-small modal-trigger custom-color" 
                        href="#modal1"><i class="material-icons deep-purple lighten-1">add</i>
                    </a></h5>
                    <hr>
                </div>
    <% } else { %>
        <div class="blur-event">
            <h5>Create Event &nbsp;&nbsp;
            <a class="waves-effect waves-light btn-floating btn-small modal-trigger custom-color" 
                href="#modal1"><i class="material-icons deep-purple lighten-1">add</i>
            </a></h5>
            <hr><br>
            <h6>You don't have any event's yet!</h6>
    <% } %>
    </div>
    <% if (user.events.length) { %>
    <div class="blur-two">
    <% } else { %>
        <div>
    <% } %>
        <div class="row">
            <div class="col s12 center-align">
                <% user.events.forEach(function(event) { %>
                    <% if (user.id === event.id) { %>
                    <div class="col s12 m6 l3">
                        <!--this is the card that shows, has a update, show and delete button-->
                        <div class="card">
                            <div class="card-image">
                                <% if (event.category === "birthday") { %>
                                    <img src="http://i.imgur.com/3O21Cl1.jpg" class="card-image-resize">
                                <% } else if (event.category === "baby-shower") { %>
                                    <img src="http://i.imgur.com/3qH7cAD.jpg" class="card-image-resize">
                                <% } else if (event.category === "potluck") { %>
                                    <img src="http://i.imgur.com/CRsR4tY.jpg" class="card-image-resize">
                                <% } else if (event.category === "holiday-party") { %>
                                    <img src="http://i.imgur.com/5A3k8wp.jpg" class="card-image-resize">
                                <% } else { %>
                                    <img src="http://i.imgur.com/YmExZrx.jpg" class="card-image-resize">
                                <% } %>
                                <span class="card-title"><%=event.title%></span>
                                 <form action="/events/<%= event.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn-floating halfway-fab blue lighten-4 right"><i class="material-icons">delete_forever</i></button>
                                </form>
                                <a class="btn-floating halfway-fab blue lighten-4 center-modal-button modal-trigger"href="#modal<%=event._id%>show"><i class="material-icons">info</i></a>
                                <a class="btn-floating halfway-fab blue lighten-4 left modal-trigger"href="#modal<%=event._id%>"><i class="material-icons">update</i></a>
                            </div>
                            <div class="card-content"></div>
                        </div>
                    <a href="/events/<%=event.id%>/mail" class ="btn waves-effect waves-light deep-purple lighten-2">Send your invite!</a>
                </div>
            <% } else { %>
                    <div class="col s12 m6 l3">
                        <!--this is the card that shows, has a update, show and delete button-->
                        <div class="card">
                            <div class="card-image">
                                <% if (event.category === "birthday") { %>
                                    <img src="http://i.imgur.com/3O21Cl1.jpg" class="card-image-resize">
                                <% } else if (event.category === "baby-shower") { %>
                                    <img src="http://i.imgur.com/3qH7cAD.jpg" class="card-image-resize">
                                <% } else if (event.category === "potluck") { %>
                                    <img src="http://i.imgur.com/CRsR4tY.jpg" class="card-image-resize">
                                <% } else if (event.category === "holiday-party") { %>
                                    <img src="http://i.imgur.com/5A3k8wp.jpg" class="card-image-resize">
                                <% } else { %>
                                    <img src="http://i.imgur.com/YmExZrx.jpg" class="card-image-resize">
                                <% } %>
                                <span class="card-title"><%=event.title%></span>
                                 <form action="/events/<%= event.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn-floating halfway-fab blue lighten-4 right"><i class="material-icons">delete_forever</i></button>
                                </form>
                                <a class="btn-floating halfway-fab blue lighten-4 center-modal-button modal-trigger"href="#modal<%=event._id%>show"><i class="material-icons">info</i></a>
                                <a class="btn-floating halfway-fab blue lighten-4 left modal-trigger"href="#modal<%=event._id%>"><i class="material-icons">update</i></a>
                            </div>
                            <div class="card-content"></div>
                        </div>
                    <a href="/events/<%=event.id%>/mail" class ="btn waves-effect waves-light deep-purple lighten-2">Send your invite!</a>
                </div>
                <% } %>
            <% }) %>
        </div>
    </div>
    
    <!--this is the create/new modal-->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="black-text">Create Event 🎉</h4>
            <div class="row">
                <form action="/events" method="POST" class="col s12 black-text">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" name="title" class="validate">
                            <label for="title"class="black-text">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name ="category"> 
                                <option disabled selected>Choose your option</option>
                                <option value="birthday" data-icon="http://i.imgur.com/4GysecW.jpg" class="circle">Birthday</option>
                                <option value="potluck" data-icon="http://i.imgur.com/CRsR4tY.jpg" class="circle">Potluck</option>
                                <option value="baby-shower" data-icon="http://i.imgur.com/3qH7cAD.jpg" class="circle">Baby Shower</option>
                                <option value="holiday-party" data-icon="http://i.imgur.com/5A3k8wp.jpg" class="circle">Holiday Party</option>
                                <option value="other" data-icon="http://i.imgur.com/YmExZrx.jpg" class="circle">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="location" type="text" name="location" class="validate black-text">
                            <label for="location"class="black-text">Location</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="time" type="text" name="time" class="timepicker black-text">
                            <label for="time"class="black-text">Time</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="date" type="Date" name="date" class="datepicker black-text">
                            <label for="date"class="black-text">Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="description" type="text" name="description" class="validate black-text">
                            <label for="description" class="black-text">Description</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-waves">Create your event!</button>
                </form>
            </div>
        </div>
    </div>

    <!--this is the update modal-->
    <% user.events.forEach(function(event) { %>
        <div id="modal<%=event._id%>" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 class="black-text"><%=event.title%></h4>        
                <div class="row">
                    <form action="/events/<%= event.id %>?_method=PUT" method="POST" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="title" type="text" name="title" class="validate black-text" value="<%=event.title%>">
                                <label for="title"class="black-text">Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select name ="category"class="black-text"> 
                                    <option disabled selected>Choose your option</option>
                                    <option value="birthday" data-icon="http://i.imgur.com/4GysecW.jpg" class="circle">Birthday</option>
                                    <option value="potluck" data-icon="http://i.imgur.com/CRsR4tY.jpg" class="circle">Potluck</option>
                                    <option value="baby-shower" data-icon="http://i.imgur.com/3qH7cAD.jpg" class="circle">Baby Shower</option>
                                    <option value="holiday-party" data-icon="http://i.imgur.com/5A3k8wp.jpg" class="circle">Holiday Party</option>
                                    <option value="other" data-icon="http://i.imgur.com/YmExZrx.jpg" class="circle">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="location" type="text" name="location" class="validate black-text" value="<%=event.location%>">
                                <label for="location"class="black-text">Location</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="time" type="text" name="time" class="timepicker black-text" value="<%=event.time%>">
                                <label for="time"class="black-text">Time</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="date" type="text" name="date" class="datepicker black-text" value="<%=event.date.toDateString()%>">
                                <label for="date"class="black-text">Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="description" type="text" name="description" class="validate" value="<%=event.description%>">
                                <label for="description"class="black-text">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 m6 l6 center-align">
                                    <button type="submit"class="btn">UPDATE</button>
                    </form>
                            </div>
                        </div>    
                    </div>        
                </div>
            </div>
        </div>
    </div>
<% }) %>


<!--this is the show modal-->
<% user.events.forEach(function(event) { %>
    <div id="modal<%=event._id%>show" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="black-text"><%=event.title.toUpperCase()%></h4>        
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <p class="black-text p-text-font custom-left">&nbsp;&nbsp;&nbsp;&nbsp;<%=event.title%></p>
                        <label for="title" class="black-text custom-font"><b>TITLE</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="black-text p-text-font custom-left">&nbsp;&nbsp;&nbsp;&nbsp;<%=event.category%></p>
                        <label for="category"class="black-text custom-font"><b>CATEGORY</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="black-text p-text-font custom-left">&nbsp;&nbsp;&nbsp;&nbsp;<%=event.location%></p>
                        <label for="location"class="black-text custom-font"><b>LOCATION</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <p class="black-text p-text-font ">&nbsp;&nbsp;&nbsp;&nbsp;<%=event.time%> </p>
                        <label for="time"class="black-text"><b>TIME</b></label>
                    </div>
                    <div class="input-field col s6">
                        <p class="black-text p-text-font custom-font">&nbsp;&nbsp;&nbsp;&nbsp;<%=event.date.toDateString()%> </p>
                        <label for="date" class="black-text"><b>DATE</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="black-text p-text-font custom-left">&nbsp;&nbsp;&nbsp;&nbsp;<%=event.description%> </p>
                        <label for="description"class="black-text"><b>DESCRIPTION</b></label>
                    </div>
                </div>       
            </div>
        </div>
    </div>
<% }) %>


<div id="all-events"></div>
<script type="text/template" id="userTemplate">   
    <div id="event"></div>
</script>


<script async defer type="text/javascript" src="./../javascripts/app.js"></script>  

<%- include('./../_partials/footer') %>