<%- include('./../_partials/header') %>

<h4>Events</h4>
<div class="row">
    <div class="col s12">
        <% user.events.forEach(function(event) { %>
            <div class="col s3">
                <a class="padding-events btn modal-trigger" href="#modal<%=event._id%>"><%=event.title%></a>
            </div>
        <% }) %>
    </div>
</div>

<a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons">add</i></a>

<!-- Modal Trigger -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Create Event 🎉</h4>
        <div class="row">
        <form action="/events" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" name="title" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="birthday" data-icon="http://i.imgur.com/4GysecW.jpg" class="circle">Birthday</option>
                        <option value="potluck" data-icon="images/office.jpg" class="circle">Potluck</option>
                        <option value="baby-shower" data-icon="images/yuna.jpg" class="circle">Baby Shower</option>
                        <option value="holiday-party" data-icon="images/yuna.jpg" class="circle">Holiday Party</option>
                        <option value="other" data-icon="images/yuna.jpg" class="circle">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="location" type="text" name="location" class="validate">
                    <label for="location">Location</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="time" type="text" name="time" class="timepicker">
                    <label for="time">Time</label>
                </div>
                <div class="input-field col s6">
                    <input id="date" type="Date" name="date" class="datepicker">
                    <label for="date">Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="description" type="text" name="description" class="validate">
                    <label for="description">Description</label>
                </div>
            </div>
            <button type="submit" class="btn btn-waves">Create your event!</button>
        </form>
    </div>
</div>
</div>


<% user.events.forEach(function(event) { %>
    <div id="modal<%=event._id%>" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>🎉<%=event.title%>🎉</h4>        
            <div class="row">
                <form action="/events/<%= event.id %>?_method=PUT" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" name="title" class="validate" value="<%=event.title%>">
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="location" type="text" name="location" class="validate" value="<%=event.location%>">
                            <label for="location">Location</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="time" type="text" name="time" class="timepicker" value="<%=event.time%>">
                            <label for="time">Time</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="date" type="Date" name="date" class="datepicker" value="<%=event.date%>">
                            <label for="date">Date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="description" type="text" name="description" class="validate" value="<%=event.description%>">
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="col s12 m6 l6 center-align">
                                <button type="submit"class="btn">UPDATE</button>
                                </form>
                            </div>
                            <div class="col s12 m6 l6">
                                <form action="/events/<%= event.id %>?_method=DELETE" method="POST" class="center-align">
                                    <button type="submit" class="btn red right">DELETE</button>
                                </form>
                            </div>
                        </div>    
                    </div>        
            </div>
        </div>
    </div>
<% }) %>


<div id="all-events"></div>
<script type="text/template" id="userTemplate">   
    <div id="event"></div>
</script>


<script async defer type="text/javascript" src="./../javascripts/app.js"></script>  

<%- include('./../_partials/footer') %>